argon2-cffi==20.1.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
cffi==1.14.6
django-bootstrap5==2.1.2
django-braces==1.14.0
Faker==8.11.0
gunicorn==20.1.0
misaka==2.1.1
Pillow==8.3.1
pycparser==2.20
python-dateutil==2.8.2
six==1.16.0
soupsieve==2.2.1
text-unidecode==1.3
whitenoise==5.3.0
